*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 9fr;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.taskheader{
    display: flex;
    flex-direction: row;
}
.taskheader > *{
    margin-left: 5px;
}
.taskDiscription{
    margin-left: 4%;
}
.task{
    border: 1px solid black;
}
.addTask{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: larger;
    background-color: #7AB2B2;
    color: #EEF7FF;
    text-align: center;
}
.hidden{
    display: none;
}