*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 9fr;
}
.sidePanel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidePanel > *{
    margin: 5px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.taskheader{
    display: flex;
    flex-direction: row;
}
.taskheader > *{
    margin-left: 5px;
}
.taskDiscription{
    margin-left: 4%;
}
.task{
    padding-left: 1rem;
    border: 1px solid black;
}
.urgent{
    box-shadow: inset 1rem 0 red;
}
.notUrgent{
    box-shadow: inset 1rem 0 lightblue;
}
.addTask{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: larger;
    background-color: #7AB2B2;
    color: #EEF7FF;
    text-align: center;
}
.hidden{
    display: none;
}
.wizard{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 50vw;
    aspect-ratio: 3/1;
    border: 2px solid black;
    border-radius: 18px;
    padding: 1%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label{
    font-size: 0.8rem;
}
.radioContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}
.radioContainer >*{
    padding: 5px;
}
.xbutton{
    align-self: flex-start;
    border: none;
    font-size: large;
}
.xbutton:hover{
    color: gray;
}